
#map-container{
    height: 300px;
    width: 100%;
    margin-top:20px; 
    margin-bottom:20px;
    border:2px;
    border-style:solid;
    border-color:black; 
}

#add-eventform {
	display:none;
}


#upcoming-events {
	display:none;
}

#popout-buttons {
	text-align:center;
}


#header {
    background-color:#4db6ac;
    max-height:200px;
    color:#ffffff;
    padding-bottom:20px;
    margin-bottom:20px;   
}

#header-text {
    text-align:center;
}

#location-search, #location-search {
    text-align:center;
}

/* Media Query */

@media screen and (max-width: 768px) {}


@media screen and (max-width: 640px) {}


/* CSS To Do
Color Scheme?
RWD - positioning of elements on Tablets, Phones, etc....
Fade In Animation
Positioning of Header - ? follow scrolling user or no?
if it follows user then needs to have a z-index? so it goes over elements instead of under them?
*/