@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Raleway');

#header-text{
    text-align:center;
    color: #ee6e73;
   padding: 0em;
    font-family: 'Baloo Bhaina';
  
}

#search-submit {
 font-family: 'Raleway';
background-color: #ee6e73;
}

#add-popout {
 font-family: 'Raleway';
background-color: #ee6e73;
}

#upcoming-popout{
 font-family: 'Raleway';
background-color: #ee6e73;
}


#search-label {
color:#ee6e73;
 font-family: 'Baloo Bhaina';
}


#map-container{
    height: 300px;
    width: 100%;
    margin-top:20px; 
    margin-bottom:20px;
    border:2px;
    border-style:solid;
    border-color:black; 
}

#add-eventform {
	display:none;
}


#upcoming-events {
	display:none;
}

#popout-buttons {
	text-align:center;
}

#add-event-button {
	position:relative;
	left:829px;
}

/* Media Query */

@media screen and (max-width: 768px) {}


@media screen and (max-width: 640px) {}


/* CSS To Do
Color Scheme?
RWD - positioning of elements on Tablets, Phones, etc....
Fade In Animation
Positioning of Header - ? follow scrolling user or no?
if it follows user then needs to have a z-index? so it goes over elements instead of under them?
*/