#map-transform-container {
    width: 100%;
    height: 300px;
    margin-bottom:20px;
    /*position: relative;*/
    perspective: 1000px;
}

.front, .back{
    margin: 0;
}

#card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform .7s;
}

#card figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#card .front {
    background: lightgray;
}

#card .back {
    background: mediumaquamarine;
    transform: rotateY( 180deg );
}

#card.flipped {
    transform: rotateY( 180deg );
}

.card.small {
    height: 300px;
    margin-top: 0;
    width: 100%;
}

#map-container{
    height: 100%;
    width: 100%;
    border-style:solid;
    border-color:mediumaquamarine;
}

#add-eventform {
	display:none;
}


#upcoming-events {
	display:none;
}

#popout-buttons {
	text-align:center;
}


#header {
    background-color:#4db6ac;
    max-height:200px;
    color:#ffffff;
    padding-bottom:20px;
    margin-bottom:20px;   
}

#header-text {
    text-align:center;
}



#search-submit {
	position: relative;
	top:20px;
}

/* Media Query */

@media screen and (max-width: 768px) {}


@media screen and (max-width: 640px) {}


